@import url(//fonts.googleapis.com/css?family=Vibur&effect=neon);
@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  /* background-color: black; */
  background-image: url("../images/bk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
}
#welcomeScreen {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -1.2%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#welcomeScreen div {
  border: #5fe8ff 0.5em solid;
  width: 32%;
  height: 40%;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em 0 #5fe8ff, 0 0 0.5em 0 #5fe8ff;
}
#welcomeScreen button {
  cursor: pointer;
  background-color: transparent;
  color: #d63d91;
  font-size: 5rem;
  font-family: moon;
  letter-spacing: 1.5rem;
  margin-left: 2.5rem;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d63d91, 0 0 0.5em #d63d91,
    0 0 0.1em #d63d91, 0 10px 3px #000;
    
}

#welcomeScreen button:hover {
  color: #ff4444;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  text-align: center;
  width: 65%;
  height: 170px;
  margin: auto;
  user-select: none;
}
.logo b {
  font: 400 15vh "Vibur";
  font-family: moon;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

div {
  margin-top: 0.6%;
  flex: 10;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
aside {
  /* border: red 2px solid; */
  color: #ebc026;
  width: 219px;
  background: rgba(0, 0, 0, 0.5);
}
#game-canvas {
  background: rgba(0, 0, 0, 0.9);
  border: #fc49ab 2px solid;
}

/* header {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  flex: 1;
} */
/* .gameTitle {
  font-family: moon;
  font-size: 6.3vw;
  margin-left: 1.5vw;
  animation: gameTitle 1.5s 2s ease infinite;
} */

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* @keyframes gameTitle {
  0%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw #fed128, -0.15vw 0vw 0.2vw #fed128,
      -0.2vw 0vw 0.2vw #fed128, -0.1vw 0vw 3vw #f0130b, -0.2vw 0vw 3vw #f0130b,
      -0.4vw 0vw 3vw #f0130b, -0.1vw 0vw 5vw #f0130b, -0.2vw 0vw 5vw #f0130b,
      -0.4vw 0vw 0.8vw #f0130b;
    color: #fed128;
  }
  50% {
    text-shadow: -0.1vw 0vw 0.1vw #ebc026, -0.15vw 0vw 0.2vw #ebc026,
      -0.2vw 0vw 0.2vw #ebc026, -0.2vw 0vw 0.1vw #d4120b,
      -0.4vw 0vw 0.1vw #d4120b, -0.1vw 0vw 0.2vw #d4120b,
      -0.4vw 0vw 0.2vw #d4120b, 0.2vw 0vw 0.5vw #d4120b;
    color: #ebc026;
  }
} */
